body{
    background-color: rgb(13, 190, 66);
}
.explain{
    font-size: large;
    text-align: center;
}
.rules{
    font-size: larger;
    text-align: justify;
}
.choice{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}